<div id="header-layout" class="navbar-inverse">
	<button id="toggle-siderbar-header" class ="navbar-toggle toggle-siderbar" type="button">
		<div class="icon-bar"></div>
		<div class="icon-bar"></div>
		<div class="icon-bar"></div>
	</button>
</div>

<div id="middle-layout" class="container" >
	<div id="sidebar-layout">
		<button id="toggle-inner-siderbar" class="navbar-toggle toggle-siderbar visible-xs-inline" type="button">
			<div class="icon-bar"></div>
			<div class="icon-bar"></div>
			<div class="icon-bar"></div>
		</button>
		Summary can be here !!!
	</div>
	<div id="detail-layout">
		<div id="detail" ></div>
	</div>
	
	<div id="main-layout">
		<div id="expose" ></div>
	</div>
	<div id="blur-layout" class="visible-xs-inline"></div>
</div>	


