<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
			<h1>   About us  </h1>
			<p class="text-justify text-small">
				We are a new Company based on Montpellier. Want to learn more ? see our application in demo :
				<a target="_blank" href="https://fr-fr.facebook.com/paper">here</a> ! (storytelling ...tout çà : j'ose.)
			</p>
		</div>

	</div>

	<div class="row">

		<div class="col-xs-5 col-xs-offset-1">

			<address class="adress">
  <strong>FauxToto Factory, Inc.</strong><br>
 	71 rue de l'Aigoual - 34000 <br>
  Montpellier, FRANCE<br>
  <abbr title="Phone">P:</abbr> (+33) 670368766
</address>

			<address class="adress">
  <strong>Contact</strong><br>
  <a href="mailto:#">contact@fauxtoto.com</a>
</address>

		</div>

		<div class="col-xs- 5col-xs-offset-1">
			<blockquote>
				"do the things right"
			</blockquote>
		</div>
	</div>